html {
  background-image: url("bgimg/Olut_tausta.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  box-sizing: border-box; 
  padding-top:  50px;
}

h3 {
font-size: 1.28571429em;
font-weight: 700;
line-height: 1.2857em;
margin: 0;
position: relative;
}

.cards {
margin: auto;
  position: absolute;
padding: 1rem;
max-width: min-content;
}
.card {
  
flex-direction: row;
font-size: 1em;
padding: 0;
border: none;
border-radius: 0.28571429rem;
box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
max-width: 100%;
}

.card-block {
font-size: 1em;
position: relative;
margin: 0;
padding: 1em;
border: none;
border-top: 1px solid rgba(34, 36, 38, 0.1);
box-shadow: none;
background-color: #d4d4d5;
max-width: 100%;
}

.card-img-top {
display: block;
width: 100%;
height: auto;

}

.card-title {
font-size: 1.28571429em;
font-weight: 700;
line-height: 1.2857em;
color: rgba(0, 0, 0, 0.68);
padding: 2rem;
}   

.card-text {
clear: both;
margin-top: 0.5em;
color: rgba(0, 0, 0, 0.68);
}

.button{
  padding: 2rem;
  border: 0.5rem solid rebeccapurple; 
  border-radius: 0.3rem;
  font-size: 1.5rem;
  background: rebeccapurple;
  color: black;
 }  