html {
  background-image: url("bgimg/Olut_tausta.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  box-sizing: border-box; 
  padding-top:  50px;
}

h3 {
font-size: 1.28571429em;
font-weight: 700;
line-height: 1.2857em;
margin: 0;
position: relative;
margin-inline-start: 20px;
}

.cards {
margin: auto;
display: inline-block;
padding: 1rem;
max-width: min-content;
vertical-align: top;
margin-bottom: 30px;

}
.card {
  
flex-direction: row;
font-size: 1em;
padding: 0;
border: none;
border-radius: 0.28571429rem;
box-shadow: 0 1px 3px 0 sienna, 0 0 0 1px sienna;
max-width: 100%;
margin: 15px;
}

.card-block {
font-size: 1em;
position: relative;
margin: 0;
padding: 1em;
border: none;
border-top: 1px solid sienna;
box-shadow: none;
background-color: sienna;
max-width: 100%;
}

.card-img-top {
display: block;
width: 200px;
height: auto;

}

.card-title {
font-size: 1.28571429em;
font-weight: 700;
font-family: 'Courier New', Courier, monospace;
line-height: 1.2857em;
color: rgba(0, 0, 0, 0.68);
padding: 2rem;
}   

.card-text {
clear: both;
font-family: 'Courier New', Courier, monospace;
font-weight: bold;
margin-top: 0.5em;
color: rgba(0, 0, 0, 0.68);
}

.button{
  margin-top: 20px;
  border: 0.5rem solid black; 
  border-radius: 0.3rem;
  font-size: 1rem;
  font-family: 'Courier New', Courier, monospace;
  background: black;
  color: white;
  text-align: center;
 }  