h3 {
  font-size: 40px;
  font-weight: bold;
}

p {
  font-size: 30px;
}


body, html {
  height: 100%;
}

#collasible-nav-dropdown {
  color: #F6F6E3;
}

#navi1 {
  padding-left: 20px;
}


.parallax {
  /* The image used */
  background-image: url("beer-g8ef14c197_1920.jpg"); 
  height: 100%;
  opacity: -2,8;
  

  
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
