td {
    border-bottom: 2px solid sienna;
    width: 300px;
    padding: 4px;
}
div {
    color:#F6F6E3;
}

div tr {
    color:#F6F6E3;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

h3, td, label, p {
    font-family: 'Courier New', Courier, monospace;
}
.order{
    background-image: url("./inc/bgimg/Olut_tausta.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.buttons {
    margin-bottom: 80px;
}